.ProjectExpSectionContainer {
    margin-top: 10vh;
    /* margin-bottom: 10vh; */
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: rgb(98, 98, 98);
}